#artigolist{
    border-bottom: 1px solid #F5F5F5;
    /* box-shadow: 1px 1px 3px 1px #F5F5F5; */
}
.titleArtigoItemCss{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.sizeIconDoc{
    width: 20px;
    height: 20px;
}